body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

header{
    background: #579c87;
    margin-bottom: 30px;
}

.title{
    font-family: "Op", sans-serif;
    color: #fdcb46;   
    line-height: 245px;
    text-align: center;
    margin-top: 0;
    font-size: 90px;
    letter-spacing: -0.3rem;
}

.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

div{
    background-color: #7971ea;
    border: 2px solid #443ea0;
    margin: 20px 40px;
    padding: 10px;
    text-align: center;
    width: 25em;
    height: 35em;
}

.btn{
    width: 135px;
    height: 32px;
}