$mainColor: #579c87;
$mainTextColor: #fdcb46;
$menuNoteColor: #fcdfdb;
$menuChicColor: #fff5fe;
$menuDeliceColor: #edefef;
$menuNoteTextColor: #3c1218;



body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

/*HEADER*/

.header, .footer, .btn--proch{
    background: $mainColor;
}

.header__heading{
    text-align: center;
    padding: 30px;
    margin: 0;
    margin-bottom: 40px;
    a{
        text-decoration: none;
        font-family: "Op", sans-serif;
        color: $mainTextColor;
        font-size: 60px;
        letter-spacing: -0.3rem;
    }
}


/*NAV*/

.nav-carte{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    &__item{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 20px 40px;
        padding: 10px;
        text-align: center;
        width: 25em;
        height: 35em;
        box-shadow:0 0 10px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }
    a{
        text-decoration: none;
        transform: scale(1);
        transition: all 0.8s;
        opacity: 1;
        padding: 100px;
        &:hover{
            transform: scale(1.15);
            opacity: 0.6;
        }
    }
}

/*NOTE*/

.nav-carte__note--menu{
    background-color: #fcdfdb;
}

.nav-carte__note--titre{
    font-family: devonshire, serif;
    color: #3c1218;
    margin: 0 0 30px 0;
    letter-spacing: .05rem;
    font-size: 2em;
    font-weight: 100;    
}

.nav-carte__note--soustitre{
    font-family: 'Nanum Pen Script', cursive;
    color: #3c1218;
    font-size: 5em;
    text-transform: uppercase;
    margin-top: 0;
}

/*CHIC*/

.nav-carte__chic--titre{
    font-family: 'Croissant One', serif;
    font-size: 1.6em;
    background: -webkit-linear-gradient(25deg, #c77412, #905bfd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-carte__chic--soustitre{
    font-family: Libre Baskerville, serif;
    color: #c77412;
    font-size: 3em;
}

/*DELICE*/

.nav-carte__delice--titre{
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
    padding-left: 10px;
    font-weight: 500;
    background: -webkit-linear-gradient(25deg, #0431df, #0887fb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-carte__delice--soustitre{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 5em;
    color: #0887fb;
    margin: 0 0 30px 0;
}

/*PALETTE*/

.nav-carte__palette--titre{
    font-family: 'Kaushan Script', cursive;
    font-size: 2.5em;
    padding-left: 10px;
    font-weight: 500;
    background: -webkit-linear-gradient(25deg, #4c9f42, #bfff7e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-carte__palette--soustitre{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 5em;
    color: #72bf56;
    margin: 0 0 30px 0;
}

.nav-carte__chic--menu{
    background-color: #fff5fe;
}

.nav-carte__delice--menu{
    background-color: #f9f9f9;
}

.nav-carte__palette--menu{
    background-color: #fdfffd;
}


/*END NAV*/

/*BUTTON PROCHAINEMENT*/

.btn{
    margin: 0 auto;
    background: $mainColor;
    width: 19em;
    height: 3em;
    line-height: 3em;
    border-radius: 20px;
    margin-bottom: 150px;
    cursor: pointer;
    & a{
        font-family: "Op", sans-serif;
        text-decoration: none;
        font-size: 1.6em;
        color: $mainTextColor;
        margin: 0 52px;
    }
}

.point{
    margin: 0;
    padding: 0;
    &::after{
    display: inline-block;
    animation: dotted 2s infinite;
    content: "";
    margin-left: 5px;
    }
}

@keyframes dotted{
    0%{content:"";}
    25%{content:".";}
    50%{content:"..";}
    75%{content:"...";}
    100%{content:"";}
}

/*BUTTON PROCHAINEMENT*/

/*FOOTER*/

.footer{
    color: $mainTextColor;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.footer__infos{
    display: flex;
    justify-content: space-between;
    font-family: "Op", sans-serif;
    font-size: 28px;
    padding: 15px 30px;
    margin-bottom: 0;
    line-height: 10px;
}

.footer__infos--lien{
    color: #fdcb46;
    text-decoration: none;
        animation: shake .1s infinite;
}

@keyframes shake{
    0%{
        transform: translateX(2%);
    }
    33%{
        transform: translateX(-2%) rotate(2deg);
    }
    65%{
        transform: rotate(-2deg);
    }
}

/*FOOTER*/


/*LES MENUS*/

// NOTE

.mainNote{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 40px;
    background: $menuNoteColor; 
    color: $menuNoteTextColor;
    text-align: center;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.2);
    &__text{
        font-family: 'Kalam', cursive;
        font-size: 1em;
    }
    &__textHaut{
        font-family: devonshire, serif;
        font-size: 2.5em;
        font-weight: 50;
        margin-top: 0;
    }
    h2{
        font-size: 1.3em;
        margin-top: 0;
    }
}

.menNote{
    display: flex;
    justify-content: space-between;
}

.mainNote__Stitre{
    font-family: 'Kalam', cursive;
    font-size: 1.2em;
    font-weight: 700;
    width: 180px;
    padding: 0;
}

.imgMenu1 img{
    max-width: 63%;
    margin-top: 10px;  
}

// SOULIGNEMENT ANIME 1
.mainNote__Stitre--soulign1{
    display: inline-block;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        transform: scaleX(0);
        width: 45%;
        height: 2px;
        bottom: 3px;
        background: $menuNoteTextColor;
        transform-origin: bottom left;
        transition: all 0.4s;
    }
    &:hover::before{
        transform: scaleX(1);
    }
}

// SOULIGNEMENT ANIME 1

// SOULIGNEMENT ANIME 2
.mainNote__Stitre--soulign2{
    display: inline-block;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        transform: scaleX(0);
        width: 45%;
        height: 2px;
        bottom: 3px;
        background: $menuNoteTextColor;
        transform-origin: bottom left;
        transition: all 0.4s;
    }
    &:hover::before{
        transform: scaleX(1);
    }
}


// SOULIGNEMENT ANIME 2

// SOULIGNEMENT ANIME 3
.mainNote__Stitre--soulign3{
    display: inline-block;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        transform: scaleX(0);
        width: 45%;
        height: 2px;
        bottom: 3px;
        background: $menuNoteTextColor;
        transform-origin: bottom left;
        transition: all 0.4s;
    }
    &:hover::before{
        transform: scaleX(1);
    }
}

// SOULIGNEMENT ANIME 3


.mainNote--img{
    padding-top: 50px;
}

.mainNote__text--titre{
    display: flex;
    justify-content: space-evenly;
}


.mainNote__text--tableau{
    font-family: 'Kalam', cursive;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    margin-bottom: 50px;
}

.mainNote__text--tableau-tr{
    display: flex;
    justify-content: space-between;
    line-height: 2rem;
}

.prixBold{
    font-weight: 800;
    font-size: 1.2em;
}

.noteBas{
    display: flex;
    justify-content: center;
    &__text{
        font-family: devonshire, serif;
        font-size: 2em;
        font-weight: 50;
        margin-bottom: 50px;
    }
    &__img{
        padding: 25px 10px;
    }
}

// ********************************************

// CHIC

.mainChic{
    width: 50%;
    margin: 0 auto 50px;
    padding-bottom: 50px;
    background: $menuChicColor;
    text-align: center;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.2);
    &__titre{
        font-family: 'Croissant One', serif;
        font-size: 2em;
        background: -webkit-linear-gradient(25deg, #c77412, #905bfd);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 100px 0 50px;
        font-weight: normal;
    }
}

.menChic{
    display: flex;
    justify-content: space-around;
}

.mainChic__Stitre{
    font-family: 'Libre Baskerville', serif;
    font-size: 1.2em;
    font-weight: 700;
    color: #c67412;
    width: 480px;
    margin: 0;
    padding: 0;
}

.imgMenu2G img{
    max-width: 100%;
    max-height:100%;
    margin-top: 10px;  
}

.mainChic__text--tableau{
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    margin-bottom: 50px;
    margin-top: 30px;
}

.mainChic__text--tableau-tr{
    display: flex;
    justify-content: space-between;
    line-height: 2rem;
    font-family: 'Libre Baskerville', serif;
    font-size: .9em;
    color: #c67412;
    &2{
        color: #a56799;
    }
    &3{
        color: #6e4ccc;
    }
}

.prixBold2{
    font-size: 1.2em;
}

// SOULIGNEMENT ANIME 1

.mainChic__Stitre--soulign1{
    display: inline-block;
    position: relative;
}

.mainChic__Stitre--soulign1::before{
    content: "";
    position: absolute;
    transform: scaleX(0);
    width: 95%;
    height: 2px;
    bottom: -5px;
    background: #c67412;
    transform-origin: bottom left;
    transition: all 0.4s;
}

.mainChic__Stitre--soulign1:hover::before{
    transform: scaleX(1);
}

// SOULIGNEMENT ANIME 1

// SOULIGNEMENT ANIME 2

.mainChic__Stitre--soulign2{
    color: #a56799;
    display: inline-block;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        transform: scaleX(0);
        width: 69%;
        height: 2px;
        bottom: -5px;
        background: #a56799;
        transform-origin: bottom left;
        transition: all 0.4s;
    }
    &:hover::before{
        transform: scaleX(1);
    }
}

// SOULIGNEMENT ANIME 2

// SOULIGNEMENT ANIME 3

.mainChic__Stitre--soulign3{
    color: #6e4ccc;
    display: inline-block;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        transform: scaleX(0);
        width: 85%;
        height: 2px;
        bottom: -5px;
        background: #6e4ccc;
        transform-origin: bottom left;
        transition: all 0.4s;
    }
    &:hover::before{
        transform: scaleX(1);
    }
}

// SOULIGNEMENT ANIME 3

// CHIC

// ********************************************

// DELICE

.mainDelice{
    width: 50%;
    margin: 0 auto 50px;
    padding-bottom: 50px;
    background: $menuDeliceColor;
    text-align: center;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.2);
    &__titre{
        font-family: 'Dancing Script', cursive;
        font-size: 3.8em;
        padding-left: 10px;
        font-weight: 500;
        background: -webkit-linear-gradient(25deg, #0431df, #0887fb);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 100px 0 30px;
    }
    &__Stitre{
        font-family: 'Kalam', cursive;
        font-size: 1.5em;
        font-weight: normal;
        color: #000;
        width: 480px;
        margin: 0;
        padding: 0;
    }
}

.menDel{
    display: flex;
    justify-content: space-around;
}

.imgMenu3 img{
    max-width: 80%;
    max-height: 80%;
    margin-top: 12px;  
}

// SOULIGNEMENT ANIME 1

.mainDelice__Stitre--soulign1{
    display: inline-block;
    position: relative;
    &::before{
        content: "";
        position: absolute;       
        transform: scaleX(0);
        width: 85%;
        height: 2px;
        bottom: 5px;
        background: #0228dd;
        transform-origin: bottom left;
        transition: all 0.4s;
    }
    &:hover::before{
        transform: scaleX(1);
    }
}

// SOULIGNEMENT ANIME 1

// SOULIGNEMENT ANIME 2

.mainDelice__Stitre--soulign2{
    display: inline-block;
    position: relative;
    &::before{
        content: "";
        position: absolute;       
        transform: scaleX(0);
        width: 77%;
        height: 2px;
        bottom: 5px;
        background: #0670f3;
        transform-origin: bottom left;
        transition: all 0.4s;
    }
    &:hover::before{
        transform: scaleX(1);
    }
}

// SOULIGNEMENT ANIME 2

// SOULIGNEMENT ANIME 3

.mainDelice__Stitre--soulign3{
    display: inline-block;
    position: relative;
    &::before{
        content: "";
        position: absolute;       
        transform: scaleX(0);
        width: 74%;
        height: 2px;
        bottom: 5px;
        background: #229df9;
        transform-origin: bottom left;
        transition: all 0.4s;
    }
    &:hover::before{
        transform: scaleX(1);
    }
}

// SOULIGNEMENT ANIME 3

.mainDel__text--tableau{
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    margin-bottom: 50px;
    margin-top: 30px;
    font-family: 'kalam', cursive;
    font-size: 1.1em;
    font-weight: normal;
    color: #000;
    &-tr{
        display: flex;
        justify-content: space-between;
        line-height: 3rem;
    }
}

.prixBold3{
    font-size: 1.1em;
}

// DELICE

// *******************************************

// PALETTE

.mainPal{
    width: 50%;
    margin: 0 auto 50px;
    padding-bottom: 50px;
    background: $menuDeliceColor;
    text-align: center;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.2);
    &__titre{
        font-family: 'Kaushan Script', cursive;
        font-size: 3.8em;
        padding-left: 10px;
        font-weight: 500;
        background: -webkit-linear-gradient(25deg, #4c9f42, #bfff7e);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 100px 0 30px;
    }
    &__Stitre{
        font-family: 'Tillana', cursive;
        font-size: 1.5em;
        font-weight: bold;
        color: #000;
        width: 370px;
        margin: 0;
        padding: 0;
    }
}

.menPal{
    display: flex;
    justify-content: space-around;
}

.imgMenu4 img{
    max-width: 90%;
    margin-top: 20px;  
}

// SOULIGNEMENT ANIME 1

.mainPal__Stitre--soulign1{
    display: inline-block;
    position: relative;
    &::before{
        content: "";
        position: absolute;       
        transform: scaleX(0);
        width: 45%;
        height: 2px;
        bottom: -1px;
        background: #83cd60;
        transform-origin: bottom left;
        transition: all 0.4s;
    }
    &:hover::before{
        transform: scaleX(1);
    }
}

// SOULIGNEMENT ANIME 1

// SOULIGNEMENT ANIME 2

.mainPal__Stitre--soulign2{
    display: inline-block;
    position: relative;
    &::before{
        content: "";
        position: absolute;       
        transform: scaleX(0);
        width: 90%;
        height: 2px;
        bottom: -1px;
        background: #83cd60;
        transform-origin: bottom left;
        transition: all 0.4s;
    }
    &:hover::before{
        transform: scaleX(1);
    }
}

// SOULIGNEMENT ANIME 2

// SOULIGNEMENT ANIME 3

.mainPal__Stitre--soulign3{
    display: inline-block;
    position: relative;
    &::before{
        content: "";
        position: absolute;       
        transform: scaleX(0);
        width: 100%;
        height: 2px;
        bottom: -1px;
        background: #83cd60;
        transform-origin: bottom left;
        transition: all 0.4s;
    }
    &:hover::before{
        transform: scaleX(1);
    }
}

// SOULIGNEMENT ANIME 3

.mainPal__text--tableau{
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    margin-bottom: 50px;
    margin-top: 30px;
    font-family: 'Tillana', cursive;
    font-size: 1em;
    font-weight: normal;
    color: #000;
    &-tr{
        display: flex;
        justify-content: space-between;
        line-height: 3rem;
    }
}

.prixBold3{
    font-size: 1.3em;
    font-weight: 600;
}

// PALETTE

/*BUTTON BAS MENU*/

.btnBas{
    margin: 0 auto 150px;
    background: $mainColor;
    width: 19em;
    height: 3em;
    line-height: 3em;
    border-radius: 20px;
    & a{
        font-family: "Op", sans-serif;
        text-decoration: none;
        font-size: 1.6em;
        color: $mainTextColor;
        display: block;
        margin: 0 108px;
    }
}
//  ********************

// RESPONSIVE

@media screen and (min-width: 320px) and (max-width: 425px){
    
    .mainNote, .mainChic, .mainDelice, .mainPal{
        width: 20em;
    }
    
    .footer__infos{
            font-size: 24px;
            line-height: 25px;
    }

    .mainNote__text--tableau-tr{
        display: inline-block;
        text-align: left;
        margin-bottom: 10px;
    }

    .mainChic__text--tableau-tr{
        display: inline-block;
        text-align: left;
        margin-bottom: 10px;
    }

    .mainDel__text--tableau-tr{
        display: inline-block;
        text-align: left;
        margin-bottom: 10px;
    }

    .mainPal__text--tableau-tr{
        display: inline-block;
        text-align: left;
        margin-bottom: 10px;
    }
    
    .prixBold, .prixBold2, .prixBold3{
        display: inline-block;
        margin-bottom: 20px;
    }

}


