body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

/*HEADER*/

.header, .footer, .btn--proch{
    background: #579c87;
}

.header__heading{
    text-align: center;
    padding: 30px;
    margin: 0;
    margin-bottom: 40px;
}

.header__heading a{
    text-decoration: none;
    font-family: "Op", sans-serif;
    color: #fdcb46;
    font-size: 60px;
    letter-spacing: -0.3rem;
}

/*NAV*/

.nav-carte{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-carte__item{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    border: 2px solid #443ea0;
    margin: 20px 40px;
    padding: 10px;
    text-align: center;
    width: 25em;
    height: 35em;
}

.nav-carte__note--menu{
    background-color: #fcdfdb;
}

.btn{
    text-align: center;
}

.btn--proch{
    margin: 0 auto;
    border-radius: 15px;
    margin-bottom: 20px;
    font-family: "Op", sans-serif;
    color: #fdcb46;
    padding: 0 45px;
}