// RESPONSIVE

@media only screen and (min-width: 320px) and (max-width: 425px){

    .nav-carte__item{
        width: 20em;
    }
    
    .mainNote, .mainChic, .mainDelice, .mainPal{
        width: 20em;
    }
    
    .footer__infos{
            font-size: 24px;
            line-height: 25px;
    }

    .noteBas{
        display: flex;
        flex-direction: column;
        &__img{
            margin: 0 auto;
        }
    }

    .p1{
        margin: 10px auto;
        width: 60%;
    }

}

@media only screen and (max-width: 768px){
    .mainNote, .mainPal, .mainChic, .mainDelice{
        width: 60%;
    }

    .line__note, .line__chic, .line__del, .line__pal{
        display: flex;
        flex-direction: column;
    }
    .p1{
        margin: 10px auto;
        width: 60%;
    }
}

@media only screen and (max-width: 1024px){
  
    .line__note, .line__chic, .line__del, .line__pal{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 70%;
    }

    .p1{
        margin: 10px auto;
        width: 70%;
    }
}

@media only screen and (min-width: 1440px){
    .nav-carte__item{
        width: 38em;
        height: 45em;
    }
}

@media only screen and (min-width: 2560px){
    .nav-carte__item{
        width: 55em;
        height: 75em;
    }
}